<h1>Page de <%= @moussaillon.username%> </h1>
<br>
<p><%= @moussaillon.email%></p>
<br>
<p><%= @moussaillon.bio%></p>
<br>

<h2><%= link_to 'Modifier le profil', edit_moussaillon_path %></h2><br>
<h2><%= link_to 'MOUSSAILLONS', moussaillons_path %></h2><br>
<h2><%= link_to 'HOME', moussaillon_gossips_path(@moussaillon) %></h2><br>
<h2><%= link_to 'Nouveau ragot', new_moussaillon_gossip_path(@moussaillon) %></h2><br>