<h1>Page de <%= @moussaillon.username%> </h1>
<br>
<p><%= @moussaillon.email%></p>
<br>
<p><%= @moussaillon.bio%></p>
<br>

<h2><%= link_to 'Modifier le profil', edit_moussaillon_path %></h2><br>
<h2><%= link_to 'HOME', moussaillons_path %></h2>